*{
    box-sizing: border-box;
}


html{
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: #131518;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question-box{
    display: flex;
    flex-direction: column;
   width: 327px;
   margin: 0 auto;
   background-color: #232a34a8;
   padding: 1.5rem 1.4rem;
   border-radius: 1rem;
}

.circle-star{
    background-color: #262E38;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.words{
    margin-top: 2rem;
}

h1{
    font-size: 24px;
    color: #fff;
    
}

p{
    color: #969FAD;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0.9rem;
}
form{
    display: flex;
    flex-direction: column;
}

.options{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.circle{
    background-color: #262E38;
    color: #7C8798;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.circle:hover{
    color: #fff;
    background-color: #7C8798;
    cursor: pointer;
}

.circle-clicked{
    background-color: #FC7614 !important;
    color: #fff !important;
}

button{
    background-color: #FC7614;
    color: #fff;
    font-weight: bold;
    padding: 0.8rem 0.7rem;
    border-radius: 2rem;
    letter-spacing: 0.2rem;
    text-align: center;
    border: 1px solid #FC7614;
   

}

button:hover{
    background-color: #fff;
    color: #FC7614;
    border: 1px solid #fff;
    cursor: pointer;
}

#post-form{
    display: none;
    flex-direction: column;
    align-items: center;
}

.thanks{
    text-align: center;
}

.thank-you-words{
    text-align: center;
}


.thanks-pic{
    width: 144px;
    height: 96px;
}
